<u>**SMA Project Check list**</u>: <br>
https://www.notion.so/mekongdelta/SMA-project-checklist-1bd9d61bcb894b7eaa7e3958d6a1bbae

# Problem Statement

TO BE ADDED AFTERWARDS

# Data Sources

In [1]:
# install main library YFinance
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.40)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.25.2)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.4)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.2.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2024.6.2)

In [16]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

## Selecting the period for the observation

In [3]:
# Set end to the last date of March 2024
end = date(year=2024, month=3, day=31)
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

# Set start to April 1, 2000
start = date(year=2000, month=4, day=1)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 3; day=31
Period for indexes: 2000-04-01 to 2024-03-31

In [4]:
nifty_50_df = yf.download(tickers = "^NSEI",
            start=start,
            end = end,
            interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [5]:
nifty_50_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0

In [6]:
nifty_50_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200
2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700
2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400
2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100
2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500

`NOTE`: The date for which the yfincae has the data for nifty 50 is from 17,9,2007. So we are changing the period of observation from `April 1, 2024` to `April 1,2009` which is just after the 2008 financial crisis

In [7]:
# Set end to the last date of March 2024
end = date(year=2024, month=3, day=31)
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

# Set start to April 1, 2009
start = date(year=2009, month=4, day=1)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 3; day=31
Period for indexes: 2009-04-01 to 2024-03-31

In [8]:
nifty_50_df = yf.download(tickers = "^NSEI",
            start=start,
            end = end,
            interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [9]:
nifty_50_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-04-01,3023.850098,3069.300049,2965.699951,3060.350098,3060.350098,0
2009-04-02,3061.050049,3228.750000,3061.050049,3211.050049,3211.050049,0
2009-04-06,3211.350098,3303.899902,3211.350098,3256.600098,3256.600098,0
2009-04-08,3255.350098,3357.050049,3149.250000,3342.949951,3342.949951,0
2009-04-09,3346.000000,3401.149902,3307.050049,3342.050049,3342.050049,0

Before the change:

|Date|Open|High|Low|Close|Adj Close|Volume|
|---|---|---|---|---|---|---|
|2007-09-17 00:00:00|4518\.4501953125|4549\.0498046875|4482\.85009765625|4494\.64990234375|4494\.64990234375|0|
|2007-09-18 00:00:00|4494\.10009765625|4551\.7998046875|4481\.5498046875|4546\.2001953125|4546\.2001953125|0|
|2007-09-19 00:00:00|4550\.25|4739\.0|4550\.25|4732\.35009765625|4732\.35009765625|0|
|2007-09-20 00:00:00|4734\.85009765625|4760\.85009765625|4721\.14990234375|4747\.5498046875|4747\.5498046875|0|
|2007-09-21 00:00:00|4752\.9501953125|4855\.7001953125|4733\.7001953125|4837\.5498046875|4837\.5498046875|0|

---

After the change:

|Date|Open|High|Low|Close|Adj Close|Volume|
|---|---|---|---|---|---|---|
|2009-04-01 00:00:00|3023\.85009765625|3069\.300048828125|2965\.699951171875|3060\.35009765625|3060\.35009765625|0|
|2009-04-02 00:00:00|3061\.050048828125|3228\.75|3061\.050048828125|3211\.050048828125|3211\.050048828125|0|
|2009-04-06 00:00:00|3211\.35009765625|3303\.89990234375|3211\.35009765625|3256\.60009765625|3256\.60009765625|0|
|2009-04-08 00:00:00|3255\.35009765625|3357\.050048828125|3149\.25|3342\.949951171875|3342\.949951171875|0|
|2009-04-09 00:00:00|3346\.0|3401\.14990234375|3307\.050048828125|3342\.050048828125|3342\.050048828125|0|

In [10]:
nifty_50_df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200
2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700
2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400
2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100
2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500

## list of stocks in nifty 50

`TO be checked every quarter`

Official site:

* Website for the list: https://www.nseindia.com/products-services/indices-nifty50-index

* CSV download link: https://nsearchives.nseindia.com/content/indices/ind_nifty50list.csv

3rd party site:
Extract from the site:
* https://www.equitymaster.com/india-markets/nse-replica.asp?order=researchText.no_shares_act%20desc

In [44]:
import requests
from bs4 import BeautifulSoup


url = "https://www.equitymaster.com/india-markets/nse-replica.asp?order=researchText.no_shares_act%20desc"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"
}

response = requests.get(url, headers=headers)

In [45]:
# Parse the HTML content of the webpage
soup = BeautifulSoup(response.content, "html.parser")

In [46]:
# You need to be able to find this table tag and read all behind it
# Find the div with class "mystocksbig mystocks newtab cls"
table = soup.find('table', {'class': 'mystocksbig mystocks newtab cls'})

In [47]:
type(table)

bs4.element.Tag

In [48]:
# Extract headers
headers = []
for th in table.find('thead').find_all('th'):
    headers.append(th.get_text(strip=True))

In [49]:
headers.remove('Based on Equitymaster Estimatesand Publicly Available Information')
headers[3:]

['COMPANY',
 'INDUSTRY',
 'MARKET PRICE(Rs)',
 'CHANGE(%)',
 'NO OFSHARES(m)',
 'MARKET CAP.**(Rs m)',
 'FREE FLOATADJ. FACTOR#',
 'EARNINGS *(Rs m)',
 'EPS(Rs)',
 'PER(X)']

In [50]:
selected_headers  = ['COMPANY', 'INDUSTRY']

In [51]:
# Extract rows
rows = []
for tr in table.find('tbody').find_all('tr'):
    cells = tr.find_all('td')
    row = [cell.get_text(strip=True) for cell in cells]
    rows.append(row)

In [52]:
# Write to CSV
csv_filename = 'stocks_data.csv'
with open(csv_filename, 'w', newline='', encoding='utf-8') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(headers[3:])  # Write headers
    csvwriter.writerows(rows)    # Write data rows

print(f"Data has been written to {csv_filename}")

Data has been written to stocks_data.csv

In [53]:
nifty50__updated_list = pd.read_csv('./stocks_data.csv', sep=',')
nifty50__updated_list

,COMPANY,INDUSTRY,MARKET PRICE(Rs),CHANGE(%),NO OFSHARES(m),MARKET CAP.**(Rs m),FREE FLOATADJ. FACTOR#,EARNINGS *(Rs m),EPS(Rs),PER(X)
0,IOC,ENERGY,170.8,-0.3,"14,121.2","2,411,908",0.5,"416,152",29.5,5.8
1,ONGC,ENERGY,294.2,2.1,"12,580.3","3,700,489",0.4,"538,153",42.8,6.9
2,ITC,FOOD & TOBACCO,440.5,1.6,"12,489.3","5,501,536",1.0,"207,238",16.6,26.5
3,TATA STEEL,STEEL,172.7,-1.1,"12,483.5","2,156,018",0.7,"-48,516",-3.9,-
4,NTPC,POWER,377.3,-0.7,"9,696.7","3,658,552",0.5,"186,967",19.3,19.6
5,POWER GRID,POWER,339.0,-0.1,"9,300.6","3,152,440",0.5,"161,641",17.4,19.5
6,SBI,BANKING,858.2,-0.2,"8,924.6","7,659,102",0.4,"681,383",76.3,11.2
7,HDFC BANK,BANKING,"1,630.2",-1.1,"7,608.1","12,402,381",1.0,"654,465",86.0,19.0
8,ICICI BANK,BANKING,"1,231.0",-0.2,"7,037.3","8,662,915",1.0,"450,067",64.0,19.2
9,RELIANCE IND.,ENERGY,"3,213.9",1.2,"6,766.2","21,745,983",0.5,"786,330",116.2,27.7
10,COAL INDIA,MINING,493.6,0.4,"6,162.7","3,041,923",0.4,"320,622",52.0,9.5
11,BHARTI AIRTEL,TELECOM,"1,433.4",0.3,"6,084.6","8,721,331",0.5,"58,486",9.6,149.1
12,WIPRO,SOFTWARE,540.9,1.1,"5,230.4","2,829,130",0.3,"111,354",21.3,25.4
13,BPCL,ENERGY,300.8,-1.9,"4,338.5","1,304,795",0.5,"257,933",59.5,5.1
14,INFOSYS,SOFTWARE,"1,660.0",0.8,"4,152.0","6,892,367",0.9,"262,480",63.2,26.3
15,TCS,SOFTWARE,"3,994.0",-0.4,"3,618.1","14,450,641",0.3,"460,990",127.4,31.3
16,TATA MOTORS,AUTOMOBILES,999.4,0.6,"3,324.0","3,321,818",0.5,"311,070",93.6,10.7
17,AXIS BANK,BANKING,"1,289.3",0.2,"3,090.5","3,984,608",0.9,"264,235",85.5,15.1
18,HCL TECHNOLOGIES,SOFTWARE,"1,523.4",0.3,"2,713.7","4,133,997",0.4,"157,100",57.9,26.3
19,JSW STEEL,STEEL,937.9,-1.7,"2,445.5","2,293,469",0.6,"91,450",37.4,25.1
20,SUN PHARMA,PHARMACEUTICALS,"1,562.5",-0.4,"2,399.3","3,748,841",0.5,"96,484",40.2,38.9
21,HINDUSTAN UNILEVER,FMCG,"2,585.8",1.5,"2,349.6","6,075,573",0.4,"102,860",43.8,59.1
22,HINDALCO,ALUMINIUM,694.5,-0.7,"2,247.2","1,560,579",0.7,"101,530",45.2,15.4
23,ADANI PORTS & SEZ,MISCELLANEOUS,"1,474.3",-1.7,"2,160.1","3,184,585",0.3,"82,657",38.3,38.5
24,HDFC LIFE INSURANCE,INSURANCE,610.2,0.5,"2,151.0","1,312,420",0.5,"15,741",7.3,83.4
25,KOTAK MAHINDRA BANK,BANKING,"1,850.1",-0.1,"1,988.0","3,677,809",0.7,"179,768",90.4,20.5
26,BAJAJ FINSERV,FINANCE,"1,565.6",-0.9,"1,596.7","2,499,654",0.4,"155,873",97.6,16.0
27,L&T,ENGINEERING,"3,615.7",-0.3,"1,374.8","4,971,038",1.0,"155,697",113.2,31.9
28,M&M,AUTOMOBILES,"2,868.6",-0.4,"1,243.5","3,567,187",0.8,"111,484",89.7,32.0
29,ADANI ENTERPRISES,MISCELLANEOUS,"3,085.6",-2.0,"1,140.0","3,517,530",0.3,"32,932",28.9,106.8
30,SBI LIFE INSURANCE,INSURANCE,"1,514.0",-1.0,"1,001.6","1,516,337",0.4,"18,938",18.9,80.1
31,TECH MAHINDRA,SOFTWARE,"1,466.6",0.4,977.9,"1,434,113",0.6,"23,863",24.4,60.1
32,NESTLE,FOOD & TOBACCO,"2,601.8",1.1,964.2,"2,508,496",0.4,"31,962",33.2,78.5
33,ASIAN PAINTS,PAINTS,"2,900.0",-1.2,959.2,"2,781,674",0.5,"54,247",56.6,51.3
34,TATA CONSUMER,FMCG,"1,146.9",0.8,952.8,"1,092,806",0.7,"13,010",13.7,84.0
35,TITAN,RETAILING,"3,137.0",-4.0,887.8,"2,784,985",0.5,"34,950",39.4,79.7
36,CIPLA,PHARMACEUTICALS,"1,490.5",-1.3,807.6,"1,203,658",0.7,"41,553",51.5,29.0
37,INDUSIND BANK,BANKING,"1,435.0",0.1,778.7,"1,117,470",0.8,"89,770",115.3,12.4
38,GRASIM,TEXTILES,"2,724.1",-0.9,680.6,"1,853,887",0.6,"98,370",144.5,18.8
39,BAJAJ FINANCE,FINANCE,"7,068.8",-1.0,620.0,"4,382,410",0.5,"144,435",233.0,30.3
40,SHRIRAM FINANCE,FINANCE,"2,802.3",-2.2,375.9,"1,053,398",0.7,"73,911",196.6,14.3
41,MARUTI SUZUKI,AUTOMOBILES,"12,039.0",-0.5,314.4,"3,785,093",0.4,"131,945",419.7,28.7
42,LTIMINDTREE,SOFTWARE,"5,369.0",-1.0,296.2,"1,590,101",0.3,"45,846",154.8,34.7
43,ULTRATECH CEMENT,CEMENT,"11,555.2",-1.2,288.7,"3,335,941",0.4,"69,820",241.8,47.8
44,BAJAJ AUTO,AUTOMOBILES,"9,586.9",-0.5,279.2,"2,676,455",0.4,"74,352",266.3,36.0
45,EICHER MOTORS,AUTOMOBILES,"4,748.0",0.2,274.0,"1,301,002",0.5,"35,533",129.7,36.6
46,DIVIS LABORATORIES,PHARMACEUTICALS,"4,472.2",-3.4,265.5,"1,187,215",0.5,"16,000",60.3,74.2
47,HERO MOTOCORP,AUTOMOBILES,"5,532.3",-0.5,199.9,"1,106,079",0.7,"38,624",193.2,28.6
48,DR. REDDYS LAB,PHARMACEUTICALS,"6,529.0",0.1,166.8,"1,089,231",0.7,"55,632",333.5,19.6
49,APOLLO HOSPITALS,MISCELLANEOUS,"6,313.0",-0.2,143.8,"907,713",0.7,"9,170",63.8,99.0

# Data Transformations + EDA

# Modelling

# Trading Simulation

# Automation ( from here onwards it should be moved to local)

# Bonus points